<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

    <div class="row">
        <div class="cols-4-md">
            Input 1:<br />
            1 book at 12.49<br />
            1 music CD at 14.99<br />
            1 chocolate bar at 0.85<br />
        </div>
        <div class="cols-4-md">
            Input 2:<br />
            1 imported box of chocolates at 10.00<br />
            1 imported bottle of perfume at 47.50<br />
        </div>
        <div class="cols-4-md">
            Input 3:<br />
            1 imported bottle of perfume at 27.99<br />
            1 bottle of perfume at 18.99<br />
            1 packet of headache pills at 9.75<br />
            1 box of imported chocolates at 11.25<br />
        </div>
    </div>
</body>
</html>