<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<p th:each="retobj,iter : ${data}">

    <h2 th:text="'Output ' + ${iter.index + 1}"></h2>
    <p th:each="goutput : ${retobj.goodsOutput}">
        <span th:text="${goutput.name}"></span> -
        <span th:text="${goutput.quantity}"></span> -
        <span th:text="${goutput.price}"></span>
        <br />
    </p>

    Sales Taxes: <span th:text="${retobj.totalTax}"></span><br /><br />
    Total: <span th:text="${retobj.totalPrice}"></span>
</p>

</body>
</html>